<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3.0.0"></script>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/chat.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta charset="UTF-8">
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <div id="nav-vue">
            <nav-vue></nav-vue>
        </div>


        


        <main id="chat">
            <section id="contactScreen" ref="contactScreen">
                <section id="headContacts">
                    Contatos:
                </section>
                <section class="contacts">
                    <section class="contact" v-for="contact in contacts" @click="showMessageScreen(`${contact.name}`, `${contact.id}`)">
                        <section class="contactsNames">
                            {{contact.name}}
                        </section>
                    </section>
                    <br/>
                </section>
            </section>
            <section id="chatPage" ref="chatPage">
                <section id="headChat">
                    <div @click="showContactScreen()" id="backButton">&nbsp;&#60;</div>
                    <div ref="contactName" id="contactName">Professor name</div>
                </section>
                <section ref="chatArea" class="chat-area">
                    <p v-for="message in messages" class="message" :title=`${message.time}` :class="{ 'message-out': message.author === 'You', 'message-in': message.author !== 'You' }">
                        {{ message.body }}
                    </p>
                </section>
            
                <section class="chat-inputs">
                    <form @submit.prevent="sendMessage('out')" id="person1-form" style="display: contents;" autocomplete="off">
                        <input v-model="youMessage" id="person1-input" type="text" class="form-control mr-sm-2">
                        <button class="btn btn-outline-primary" type="submit">Enviar</button>
                    </form>
                </section>
            </section>
        </main>

        <div id="chatButton">
            <div class="buttonContainer" @click="toggleChat()">
                <img src="imagens/chat-icon.png" style="width: 60%" id="buttonChatIcon">
            </div>
        </div>


        <div id="footer-vue">
            <footer-vue></footer-vue>
        </div>
        
    </body>

    <script src="vue-components/nav.js"></script>
    <script src="vue-components/footer.js"></script>

    <script>
        Vue.createApp({
            data() {
                return {
                    contacts: [
                        {name: "João da Silva Costa Pedro Silva Tester dos testers", id: 1}, 
                        {name: "Manoel Carlinhos", id: 2}, 
                        {name: "Uncle Ducson", id: 3},
                    ],
                    contactId: -1,
                    bobMessage: '',
                    youMessage: '',
                    messages: [
                        {
                            body: 'Teste',
                            author: 'professor',
                            time: 'd/m/aa h:m:s'
                        },
                        {
                            body: 'Teste2',
                            author: 'You',
                            time: 'd/m/aa h:m:s'
                        }
                    ]
                }
            },
            methods: {
                async sendMessageDB(idLogged, id, text){
                    console.log("Loading messsages from "+id);

                    const headers = new Headers();
                    headers.append(
                        "Content-Type",
                        "application/json"
                    );
                    const request = new Request( "http://localhost:3000/sendMessage",
                        {
                            method: "POST",
                            headers,
                            body: JSON.stringify({idSender: idLogged, idReceiver: id, text: text}),
                            mode: "cors",
                            cache: "default"
                        }
                    );      
                    const res = await fetch(request);
                    const response = await res.json();
                },
                sendMessage(direction) {
                    if (!this.youMessage && !this.bobMessage) {
                        return
                    }
                    if (direction === 'out') {
                        this.messages.push({body: this.youMessage, author: 'You'})
                        this.sendMessageDB(this.contactId, this.youMessage)
                        this.youMessage = ''
                        // Also add to the database here.
                    } else {
                        alert('something went wrong')
                    }
                    Vue.nextTick(() => {
                        let messageDisplay = this.$refs.chatArea
                        messageDisplay.scrollTop = messageDisplay.scrollHeight
                    })
                },
                async loadContacts(){
                    // get contacts from the database here.
                    // console.log("Loading contacts");

                    const headers = new Headers();
                    headers.append(
                        "Content-Type",
                        "application/json"
                    );
                    const request = new Request( "http://localhost:3000/getContacts",
                        {
                            method: "POST",
                            headers,
                            body: JSON.stringify({}),
                            mode: "cors",
                            cache: "default"
                        }
                    );
                    const res = await fetch(request);
                    const response = await res.json();
                    console.log(response);
                    this.contacts = response['idContacts'];
                },
                showContactScreen(){
                    this.messages = [];
                    this.$refs.contactScreen.style.display="block";
                    this.$refs.chatPage.style.display="none";
                },
                async getMessages(idLogged, id){
                    console.log("Loading messsages from "+id);

                    const headers = new Headers();
                    headers.append(
                        "Content-Type",
                        "application/json"
                    );
                    const request = new Request( "http://localhost:3000/getMessages",
                        {
                            method: "POST",
                            headers,
                            body: JSON.stringify({idSender: idLogged, idReceiver: id}),
                            mode: "cors",
                            cache: "default"
                        }
                    );      
                    const res = await fetch(request);
                    const response = await res.json();
                    this.messages = response['messages'];
                    console.log(response['messages']);
                },
                showMessageScreen(name, id){
                    this.getMessages(id);
                    this.contactId = id;
                    this.$refs.contactName.innerHTML = name;
                    this.$refs.contactScreen.style.display="none";
                    this.$refs.chatPage.style.display="block";
                }

            },
            created() {
                this.loadContacts();
                this.interval = setInterval(() => this.loadContacts(), 3000);
            },
        }).mount("#chat")

        Vue.createApp({
            data(){
                return {
                    isOpen: false
                }
            },
            methods: {
                toggleChat(){
                    if(!this.isOpen){
                        document.getElementById("chat").style.display = "inline-block";
                        document.getElementById("buttonChatIcon").src = "imagens/chat-close.png";
                    } else{
                        document.getElementById("chat").style.display = "none";
                        document.getElementById("buttonChatIcon").src = "imagens/chat-icon.png";
                    }
                    this.isOpen = !this.isOpen;
                }
            }
        }).mount("#chatButton")
    </script>

</html>