#chatButton{
    width: 75px;
    height: 75px;
    border: #407FFF;

    position: fixed;
    bottom: 160px;
    right: 10%;
    border-radius: 50%;
    box-shadow: 1px 1px 2.5px 1px rgba(0, 0, 0, 0.3);

    cursor: pointer;
}
#chatButton:hover{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.buttonContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chatPage{
    display: none;
}
#chat{
    height: 426px;
    width: 90%;
    max-width: 350px;
    /* display: inline-block; */
    background: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    
    position: fixed;
    bottom: 250px;
    right: 10%;

    display: none;
}
#headChat{
    height: 50px;
    width: 90%;
    margin: 0px 5%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#contactName{
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.chat-area {
    background: white;
    height: 300px;
    padding: 12px;
    overflow: auto;
    max-width: 350px;
}
.chat-inputs{
    padding: 1em;
}
.message {
    width: 45%;
    border-radius: 10px;
    padding: .5em;
    /*   margin-bottom: .5em; */
    font-size: 13px;
    overflow-wrap: break-word;
}
.message-out {
    background: #407FFF;
    color: white;
    margin-left: 55%;
}
.message-in {
    background: #F1F0F0;
    color: black;
}
.chat-inputs {
    display: flex;
    justify-content: space-between;
}
#person1-input{
    max-width: calc(100% - 85px);
    width: 100%;
}
#backButton{
    float: left;
    width: 25px;
    cursor: pointer;
}

#contactScreen{
    display: block;
    height: 100%;
}
.contacts{
    width: 90%;
    margin: 0px 5%;
    height: calc(100% - 50px);
    overflow: auto;
}
.contact{
    height: 50px;
    width: 90%;
    margin: 0px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-bottom: 1px solid #6c757d;
    cursor: pointer;
    position: relative;
}
.contactsNames{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#headContacts{
    height: 50px;
    width: 90%;
    margin: 0px 5%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.notification{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(197, 37, 37);
    right: 2px;
    top: 2px;
    position: absolute;
}