html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   }